/* * {
    border: 1px solid red;
} */

body {
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.frame {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(167, 167, 167);
    padding: 20px 20px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.472);
    background: linear-gradient(to top right, #ccc, rgb(235, 235, 235));   
}

/* Input Side */
.input {
    display: flex;
    flex-direction: column;
    height: 250px;   
}

.row {
    display: flex;
    width: 250px;
    flex: 1;
}

button {
    flex-basis: 25%;
    font-size: 25px;
    margin: 2px 2px;
    border-radius: 6px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: box-shadow 0.2s ease-in-out;

}
button:hover {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}
button:active {
    animation: button-pulse 0.2s ease-in-out;
}
@keyframes button-pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.95);
    }
    100% {
        transform: scale(1);
    }
}


.double {
    flex-basis: 50%;
}

/* Button colors */
.clear {
    background-color: rgb(246, 202, 202);
}
.backspace {
    background-color: rgb(250, 227, 186);
}
.operator {
    background-color: rgb(199, 225, 246);
}
.equals {
    background-color: rgb(177, 208, 177);
}
.sign {
    background-color:rgb(233, 217, 240);
}

/* Output Side */
.output {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    text-align: right;
    margin: 10px 0;
    width: 300px;
    height: 118px;
    overflow: hidden;
    white-space: nowrap;    
}

#display {
    flex: 1;
    font-size: 75px;
    margin-right: 0px;
}

#equation {
    font-size: 25px;
    margin-right: 12.5px;
}

p {
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 0;
    padding: 0;
}